h2{
font-size: 48px;
}

#blogs_text{
  text-align: center;
}

.type_label{
  font-family: Arial;
  font-size: 32px;
  text-align: right;
  margin-right: 15%;
  font-style: italic;
}

.myButton {
  background-color:#000B1C;
  border:12px solid #54381e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Garamond;
  font-size:18px;
  font-weight:bold;
  padding:32px 32px;
  text-decoration:none;
  text-align: center;
  margin-right: 20px;
}
.myButton:hover {
  background-color:#ffffff;
  color: #54381e;
  border: 12px solid #000B1C;
}

#week_one{
  position: relative;
  margin-left: 38%;
}

#week_three_culture{
  position: relative;
  margin-left: 56%;
  bottom: 132px;
}

#week_four_culture{
  position: relative;
  margin-left: 75%;
  bottom: 263px;
}

#week_one_tech{
  position: relative;
  margin-left: 26%;
}

#week_two_tech{
  position: relative;
  margin-left: 41%
  bottom:35px;
}

#week_three_tech{
  position: relative;
  margin-left: 56%
  bottom:35px;
}

#week_four_tech{
  position: relative;
  margin-left: 75%;
  bottom:131px;
}

#culture{
  position: relative;
}

.link_bar{
  position: relative;
  bottom: 900px;
}