h2{
font-size: 48px;
}

#blogs_text{
  text-align: center;
}

.type_label{
  font-family: Arial;
  font-size: 32px;
  text-align: right;
  margin-right: 15%;
  font-style: italic;
}

.myButton {
  background-color:#000B1C;
  border:12px solid #54381e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Garamond;
  font-size:18px;
  font-weight:bold;
  padding:32px 32px;
  text-decoration:none;
  text-align: center;
  margin-right: 20px;
}
.myButton:hover {
  background-color:#ffffff;
  color: #54381e;
  border: 12px solid #000B1C;
}

#week_one{
  position: relative;
  margin-left: 71.5%;
}

#week_one_tech{
  position: relative;
  margin-left: 73%;
}

#culture{
  position: relative;
}

.link_bar{
  position: relative;
  bottom: 350px;
}