ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a{
  font-family: Garamond;
  text-decoration: none;
}


a:visited{
  color:#2A4C7F;
}

.nav_bar{
  float: left;
  font-size: 24px;
  text-align: center;
  background-color: #000B1C;
}

.nav_bar_link{
  display: block;
  width: 120px;
  color: white;
}

.link_bar{
  font-size: 24px;
  background-color: #000B1C;
  width: 120px;
}

.link_bar_link{
  color: white;
}

#nav_bar{
  position: absolute;
  right: 0px;
  top: 15px;
}

a:hover{
  color:#000B1C;
  background-color: white;
}

.name{
  font-size: 72px;
  font-family: Garamond;
  margin-left: 15px;
  border-bottom: 1px solid #000B1C;
}

#current{
  background-color: #00D2FF;
}